<div class="container">
    <fung-side-bar></fung-side-bar>
    <div class="content">
        <fung-spinner *ngIf="spinner"></fung-spinner>
<div class="tank-info-container">
    <div class="info-container">
        <div class="info-header">
            <div class="station-name">
                {{tank.stationName}}
            </div>
            <div class="tank-name">
                {{tank.name}}
            </div>
            <div class="tank-picture-container">
                <div class="tank" (click)="toggleUnits()" [ngStyle]="gradientStyle">
                    <div class="volume-percentage value"  *ngIf="displayValueInPercentage">
                        {{volumeInPercentage}}%                     
                    </div>
                    <div class="volume-liters value" *ngIf="!displayValueInPercentage">
                        {{currentVolume | volume}}/{{tank.capacity | volume}}
                    </div>
                </div>
            </div>
            <div class="tank-values-container">
                <div class="value-icon-container">
                    <div class="icon">
                        <fa-icon [icon]="rulerIcon"></fa-icon>
                    </div>
                    <div class="tank-value" *ngIf="tank.levelTransactions">
                        {{h}}
                    </div>
                </div>
                <div class="value-icon-container">
                    <div class="icon">
                        <fa-icon [icon]="flaskIcon"></fa-icon>
                    </div>
                    <div class="tank-value" *ngIf="tank.levelTransactions">
                        {{d | density}}
                    </div>
                </div>
                <div class="value-icon-container" *ngIf="tank.levelTransactions">
                    <div class="icon">
                        <fa-icon [icon]="temperatureIcon"></fa-icon>
                    </div>
                    <div class="tank-value">
                        {{t}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="transactions-container">
        <div class="navigation-container">
            <fung-button-icon [icon]="bookIcon" [isActive]="bookTransactions" (click)="bookButtonClick()"></fung-button-icon>
            <fung-button-icon [icon]="rulerIcon" [isActive]="levelTransactions" (click)="rulerButtonClick()"></fung-button-icon>
            <fung-button-icon [icon]="graphIcon" [isActive]="graphRepresentation" (click)="graphButtonClick()"></fung-button-icon>
        </div>
        <div class="transactions">
            <level-transactions-table *ngIf="levelTransactions" [transactions]="tank.levelTransactions"></level-transactions-table>
            <book-transactions-table *ngIf="bookTransactions" [transactions]="tank.remainingTransactions"></book-transactions-table>
            <level-charts *ngIf="graphRepresentation" [tankCapacity]="tank.capacity" [tankId]="tank.id" [newTransactionEvent]="newTransactionSubject.asObservable()"></level-charts>
        </div>         
    </div>
</div>
    </div>   
</div>



