<div class="input-container"
[ngStyle]="{'width': width, 'margin-top': marginTop}">
    <span class="label" *ngIf="label">{{label}}</span>
    <input class="input" 
    type="{{type}}"
    [ngStyle]="{'height': height}"
    [placeholder]="placeholder"
    [ngClass]="iconPosition"
    [(ngModel)]="inputValue"
    (ngModelChange)="onChange($event)"
    (blur)="onTouched($event)">
    <fa-icon class="input-icon" *ngIf="icon" [icon]="icon" [ngClass]="iconPosition"></fa-icon>
    <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
</div>