<form class="forgot-password" [formGroup]="passForm">
    <div class="top-actions">
        <fa-icon [icon]="exitIcon" class="exit-icon" (click)="closeForm()"></fa-icon>
    </div>
    <div class="content">
        Enter your user email address and we will send you a password reset link.
    </div>
    <div class="form">
        <fung-input [formControl]="emailControl" placeholder="Email" [errorMessage]="emailError" marginTop="15px"></fung-input>  
    </div>
    <div class="bottom-actions">
        <fung-button label="Send" width="200px" height="40px" (click)="submitForm()"></fung-button>
    </div>
</form>