@import 'src/colors.sass'

.stations-container
    padding: 15px
    width: 100%
    min-height: 100%
    background-color: #ebebeb

.container
    height: 100%
    width: 100%
    display: flex
    flex-direction: row
    overflow: hidden

.content
    width: 100%
    overflow: auto
    position: relative
    &::-webkit-scrollbar
        width: 10px
    &::-webkit-scrollbar-track 
        -webkit-box-shadow: inset 0 0 6px color(black-1)
    &::-webkit-scrollbar-thumb
        background-color: color(blue-2)