@import 'src/colors.sass'

.tank-info-container
    min-width: 200px
    max-width: 500px
    font-size: 22px
    font-family: Verdana
    border-style: solid
    border-width: 1px
    border-color: color(gray-2)
    border-radius: 20px
    background-color: color(white-2)
    color: color(violet-3)
    &:hover
        cursor: default

.header-container
    padding: 15px
    display: flex
    flex-direction: row
    justify-content: space-between

.height-container
    padding-top: 10px
    padding-left: 15px
    display: flex
    flex-direction: row

.tank-icon
    display: flex
    flex-direction: row
    align-items: center

.info-icon
    color: color(blue-4)
    font-size: 24px
    &:hover
        cursor: pointer
        color: color(blue-2)

.height-icon
    color: color(blue-4)

.height
    padding-left: 10px

.progress-bar-container
    padding-left: 15px
    padding-right: 15px
    position: relative

.progress-bar
    height: 45px
    width: 100%

.progress
    color: color(violet-3)
    font-size: 18px
    position: absolute
    top: 10px
    left: 46%

.last-update
    font-size: 14px
    margin-right: 10px
    color: color(gray-2)
    &.outdated
        color: color(red-1)
        
    