<div class="book-transactions-container">
    <div class="transactions-header">
        <div class="time-from-update" *ngIf="transactions!.length != 0; else elseBlock">
            Last update: <i [ngClass]="{'outdated': minutesFromLastTransaction>10}">{{minutesFromLastTransaction | timeFromUpdate}}</i>
        </div>
        <ng-template #elseBlock>
           <div class="time-from-update"> <i>No info yet!</i> </div>
        </ng-template>
    </div>
    <div class="transactions-body">
        <div class="table-columns">
            <div class="column-id column">Id</div>
            <div class="column-value column">Value</div>
            <div class="column-time column">Time</div>
        </div>
         <div class="no-items" *ngIf="transactions!.length == 0">
            No items
         </div>
        <book-transaction *ngFor="let item of transactions" [transaction]="item"></book-transaction>
    </div>
</div>
