<div class="tank-info-container"
[ngStyle]="{'width': width, 'height': height}">
    <div class="header-container">
        <div class="tank-name">
            {{tank.name}}
        </div>
        <div class="tank-icon">
            <div class="last-update" *ngIf="minutesFromUpdate" [ngClass]="{'outdated': minutesFromUpdate>10}">
                <i>{{minutesFromUpdate | timeFromUpdate}}</i>
            </div>
            <div class="last-update" *ngIf="!minutesFromUpdate">
                <i>No info yet!</i>
            </div>
            <fa-icon [icon]="infoIcon" class="info-icon" (click)="redirectToTankInfo()"></fa-icon>
        </div>
    </div>
    <div class="values-container">
        <div class="value-icon-container">
            <div class="icon">
                <fa-icon [icon]="rulerIcon"></fa-icon>
            </div>
            <div class="value">
                {{h}}
            </div>
        </div>
        <div class="value-icon-container">
            <div class="icon">
                <fa-icon [icon]="flaskIcon"></fa-icon>
            </div>
            <div class="value">
                {{d | density}}
            </div>
        </div>
        <div class="value-icon-container">
            <div class="icon">
                <fa-icon [icon]="temperatureIcon"></fa-icon>
            </div>
            <div class="value">
                {{t}}
            </div>
        </div>
    </div>
    <div class="progress-bar-container">
        <div class="progress">
            {{progress+'%'}}
        </div>
        <progress class="progress-bar" [value]="currentAmount" [max]="tank.capacity"></progress>
    </div>
</div>