<div class="book-transactions-container">
    <div class="transactions-header" *ngIf="transactions">
        <div class="time-from-update" >
            Last update: <i [ngClass]="{'outdated': minutesFromLastTransaction>10}">{{minutesFromLastTransaction | timeFromUpdate}}</i>
        </div>
    </div>
    <div class="transactions-body">
        <div class="table-columns">
            <div class="column-id column">Id</div>
            <div class="column-value column">Value</div>
            <div class="column-time column">Time</div>
        </div>
        <book-transaction *ngFor="let item of transactions" [transaction]="item"></book-transaction>
    </div>
</div>
