<form class="change-pass-form" [formGroup]="passForm">
    <div class="top-actions">
        <fa-icon [icon]="exitIcon" class="exit-icon" (click)="closeForm()"></fa-icon>
    </div>
    <div class="form">
        <fung-input type="password" label="Your password" [formControl]="oldPassControl" placeholder="Password" [errorMessage]="oldPassError"></fung-input>  
        <fung-input type="password" label="New password" [formControl]="newPassControl" placeholder="New password" [errorMessage]="newPassError" marginTop="20px"></fung-input>
        <fung-input type="password" label="Confirm password" [formControl]="confirmPassControl" placeholder="Confirm password" [errorMessage]="confirmPassError" marginTop="20px"></fung-input>
    </div>
    <div class="bottom-actions">
        <fung-button label="Change password" width="200px" height="40px" (click)="submitForm()"></fung-button>
    </div>
</form>
